@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/_mixins";
@import "variables";
@import "~bootstrap/scss/bootstrap";


h2 {
  text-align: center;
  color: #E7473C;
}
.main-content {
  display: none;
}

button {
  transition: all 0.5s ease;
}
body, html {
  height: 100%;
}
.h-20 {
  height: 20%;
}
.h-80 {
  height: 80%;
}